body{
    background: linear-gradient(to right,#03045E,red, white);
    font-family:georgia, serif;
}
#logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
}
h1{
    color: #0B1B2B;
}
