body{
    background: linear-gradient(to right,#03045E,red, white);
    font-family:georgia, serif;
}
#logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
}
h1{
    color: #0B1B2B;
}
#pantalla{
    width: 50%;
    height: 30px;
}
.boton{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #0B1B2B;
    color: white;
}
.caja{
    width: 50%;
    width: 400px;
    height: 400px;
    background-color: #dda15e;
    border-radius: 10px;
    margin: auto;
}
.contenido{
    margin: auto;
    text-align: center;
}

.pag{
    width: 150px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    background-color: #0B1B2B;
    color: white;
}
.principal{
 display: flex;
 width: 100%;
}
.info{
    width: 50%;
    height: 400px;
    background-color: #0B1B2B;
    color: white;
    text-align: center;
}
