body {
    background: linear-gradient(to right, #03045E, red, white);
    font-family: georgia, serif;
}

#logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0B1B2B;
}

#pantalla {
    width: 50%;
    height: 30px;
}

.boton {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #0B1B2B;
    color: white;
}

.caja {
    width: 50%;
    width: 400px;
    height: 400px;
    background-color: #dda15e;
    border-radius: 10px;
    margin: auto;
}

.contenido {
    margin: auto;
    text-align: center;
}

.pag {
    width: 150px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    background-color: #0B1B2B;
    color: white;
}

.principal {
    display: flex;
    width: 100%;
}

.info {
    width: 50%;
    height: 400px;
    background-color: #0B1B2B;
    color: white;
    text-align: center;
}


.carrusel {
    height: 100%;
    align-items: center;
}

.carrusel-items {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 0px;
}

.carrusel-item {
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    outline: 2px solid black;
    cursor: pointer;
}

.carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrusel-item:hover {
    transform: scale(1.2);
}